body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin-left: 50px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 170px auto;
  
}

.sidebar {
  height: 500px;
  width: 100px;
  position: absolute;
  margin-top: 150px;
  border: 1px solid black;
  background-color: white;
}

.form {
  width: 70%;
  margin: 0 auto;
}

.loginForm {
  display: grid;
  grid-template-rows: auto auto 40px auto;
  grid-template-columns: 700px;
  justify-content: center;
}

.registerForm {
  display: grid;
  grid-template-rows: auto auto auto 40px auto;
  grid-template-columns: 700px;
  justify-content: center;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border-radius, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.disabled {
  background-color: #828282;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 200px;
  margin-bottom: 20px;
}

.btn-block:hover {
  border-radius: 10px;
  transform: scale(1.05);
}



.loadingSpinnerContainer, .deleteBoxContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 5px solid;
  border-color: #000 transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header {
  grid-area: 1 / 1 / 2 / 3;
  display: grid;
  grid-template-columns: 650px 650px;
  justify-self: center;
  justify-items: center;
  align-items: center;
  margin-bottom: 100px;
}

.logo, .altlogo {
  justify-self: left;
}

.altlogo {
  font-family: 'ヒラギノ角ゴ ProN' , 'Hiragino Kaku Gothic ProN' , 
  '游ゴシック' , '游ゴシック体' , YuGothic , 'Yu Gothic' , 'メイリオ',
   Meiryo , 'ＭＳ ゴシック' , 'MS Gothic' , HiraKakuProN-W3 ,
    'TakaoExゴシック' , TakaoExGothic , 'MotoyaLCedar' ,
     'Droid Sans Japanese' , sans-serif;
  font-size: 20px;
}

.activityHeader {
  font-size: 25px;
}

a {
  text-decoration: none;
  color: black;
}

.logo a {
  font-size: 50px;
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
  font-size: 15px;
  display: grid;
  align-items: center;
  justify-self: end;
}

.registerbox {
  font-weight: bold;
  height: 30px;
  padding: 10px 10px;
  background-color: lightgreen;
  display: grid;
  align-items: center;
  border-radius: 5px;
  border: 1px solid black;
}

.registerbox:hover {
  background-color: rgb(153, 253, 153);
}

.logout {
  background: none;
  border: none;
  font-size: 15px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 0 20px;
  display: grid;
  justify-items: center;
}

h1 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  align-items: center;
}

.heading p {
  color: #828282;
}

.topbox {
  display: grid;
  grid-template-columns: 650px 650px;
  justify-self: center;
  align-items: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
  display: grid;
  justify-items: center;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 700px;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.addkanjiformbox {
  display: grid;
  justify-items: center;
  justify-self: left;
}

.addkanjiform {
  display: grid;
  grid-template-columns: 200px 325px;
  grid-template-rows: 20px 50px 20px;
  align-items: center;
  gap: 5px;
}

.content {
  width: 1300px; 
  box-sizing: border-box;
  padding-left: 150px;
  display: grid;
  gap: 50px;
  grid-area: -2 / -2 / -1 / -1;
}

.log-activities {
  display: grid;
  grid-template-columns: repeat(4, 350px);
  padding: 10px;
}

.activityHeader {
  font-family: Roboto sans-serif;
}

.activitybox {
  border-radius: 3px;
  height: 250px;
  width: 250px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 2px 2px lightgray;
  display: grid;
  gap: 20px;
  justify-items: center;
}
.calendarBox {
  width: 200px;
  height: 150px;
  display: grid;
  grid-template-columns: repeat(7, 25px);
  grid-template-rows: repeat(5, 25px);
  justify-content: center;
  gap: 1px;
}

.calendarNode {
  position: relative;
  width: 25px;
  height: 25px;
  border: 1px solid rgb(105, 105, 105);
  box-sizing: border-box;
}

.calendarHover {
  position: absolute;
  top: -40px;
  left: -98px;
  width: 220px;
  background-color: rgb(85, 84, 84);
  color: white;
  padding: 5px;
  text-align: center;
  border-radius: 2px;
  box-sizing: border-box;
}

.calendarHover:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-top-color: rgb(85, 84, 84);
	border-width: 5px;
	margin-left: -5px;
}

.userIcon {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  background-color: #828282;
  position: relative;
}

.dropdown {
  display: none;
  height: 250px;
  width: 150px;
  position: absolute;
  box-sizing: border-box;
  padding: 20px;
  border: 3px solid black;
  border-radius: 3px;
  box-shadow: 3px 3px lightgray;
  top: 45px;
  right: 10px;
}

.visible {
  display: block;
}